<div class="conteiner-lol">
    <div class="conteiner-hero">
        {{#each hero}}
        <div class="item-hero-lol" onclick="testjs()">
            <a href="#{{localized_name}}">
                <img src="http://cdn.dota2.com/{{img}}" alt="imageError">
            </a>
            <p>{{localized_name}}</p>
        </div>
        {{/each}}
    </div>
    <div class="conteiner-info">
        <h1 id="testjsid" class="name-hero">sadsdsdasddsad</h1>
    </div>
</div>